body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
header {
  background-color: gray;
  padding: 30px;
  text-align: center;

}
.padding {
  padding: 10px;
  color: white;
  text-decoration: none;
}
.center {
  text-align: center;
}
footer {
  margin-top: 80vh;
  text-align: center;
}

